* {
    color: white;
    padding: 0;
    margin: 0;
}
header {
    display: grid;
}

h1 {
    place-self: center;
}

#content {
    background: url('./mixedgrill.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
}

footer {
    display: grid;
}

h3 {
    place-self: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

button {
    border-radius: .2rem;
    border-color: white;
    background-color: black;
    opacity: .3;
}

button:hover {
    color: yellow;
    border-color: yellow;
}

div {
    padding: 2rem;
}